/* 
    Created on : 29-03-2016, 19:42:53
    Author     : PatrickKaalund
*/

html, body {
    height: 90%;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}

#Login {
    width: 100%;    
    margin-left: -125px;
    position: absolute;
    top: 200px;
    left: 40%;
    width:400px;
    
    visibility: visible;
}
#sensor_info {
    position: relative;
    float: left;    
    
    left: 100px;
    width: 400px;
    height: 600px;
    border: 3px solid black;
}
#map {    
    height: 300px;
    width: 300px;    
    position: fixed;
    padding: 15px;
    left: 7px;
}
#truckText{
    cursor: pointer;
    text-decoration: underline;
}

#header{
    background-color: lightblue;
    color:white;
    text-align: center;
    padding: 5px;
}
#section{
    width: 600px;
    float:left;
    padding: 10px;    
}
#footer{
    background-color: lightblue;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
    
}
#nav{
    line-height: 30px;
    background-color: darkgrey;
    height: 600px;
    width: 100px;
    float: left;
    padding: 5px;    
}
#sensorTable{
    width: 600px;
}
#sensorViewMapPlace{
    line-height: 30px;
    background-color: darkgrey;
    height: 430x;
    width: 100px;
    float: left;
    padding: 5px;    
}
#controllerPlace{
    padding-top: 10px;
}
#alarmButton{
      border-top: 1px solid #96d1f8;
   background: #c40000;
   background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), to(#c40000));
   background: -webkit-linear-gradient(top, #ff0000, #c40000);
   background: -moz-linear-gradient(top, #ff0000, #c40000);
   background: -ms-linear-gradient(top, #ff0000, #c40000);
   background: -o-linear-gradient(top, #ff0000, #c40000);
   padding: 13px 26px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   
}
