/* 
    Created on : 29-03-2016, 19:42:53
    Author     : PatrickKaalund
*/

html, body {
    height: 90%;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}
#sensor_info {
    position: relative;
    float: left;    
    
    left: 100px;
    width: 400px;
    height: 600px;
    border: 3px solid black;
}
#map {    
    height: 300px;
    width: 300px;
    position: relative;
    padding: 5px;     
}

#header{
    background-color: lightblue;
    color:white;
    text-align: center;
    padding: 5px;
}
#section{
    width: 350px;
    float:left;
    padding: 10px;    
}
#footer{
    background-color: lightblue;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px;
    
}
#nav{
    line-height: 30px;
    background-color: darkgrey;
    height: 600px;
    width: 100px;
    float: left;
    padding: 5px;    
}